body{
    background-color:antiquewhite;
}

.top{
    display: flex;
    

}



h2{
    font-size: 20px;
}






.tag{
    font-size: large;
    
    justify-content: center;
    gap: 50px;
    margin-top: 6px;
    padding: 30px;
    
    


}
    
.tag a{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;

}

:visited{
    text-decoration: none;
    color:black
}
h3{
    font-size: 28px;
}